.nav.navbar.navbar-expand-md{
    color: gray;
    background-color: white;
}
.nav-item{
    margin-right: 30px;
    font-size: 12px
}
.navbar{
    box-shadow: 1px 3px 6px rgba(0, 0, 0,.2)
}
.btn{
    margin: 0 5px;
    padding: -0.625rem .75rem;
    font-size: 15px;
}

button.navigasi.btn{
    
    height: 30px;
    float: right;
    border-radius: 15px;
    padding: 0rem 1.2rem
    
}
.logo{
   display: inline;
}

a{
    color: gray !important;
    text-decoration: none;
    background-color: transparent;
    font-size: 14px
}
a:hover{
    text-decoration: none !important;
}


