.bg {
    background-color: transparent;
}
.logotgl img {
    padding-bottom: 5px;
}
.bg .col-md-6 {
    max-width: 46%;
}
.bg .col-md-15 {
    max-width: 92%;
}

/* sejajarkiri */
.bg .marginleft {
    margin-left: 2px;
}

/* tanggal dari */
.bg .form-group {
    margin-top: 3px;
    margin-bottom: 0px;
    display: grid;
}
.bg .textdari .tgl .form-control {
    width: 100% !important;
    height: 40% !important;
    border: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    padding: 0px;
    color: rgb(163, 163, 163);
    font-weight: 450;
    font-size: 15px;
}
.bg .marginleft .putih .ratakiri {
    margin-left: 15px;
}
.bg .marginleft .putih {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
}
.bg .textdari {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(163, 163, 163);
}

/* tanggal sampai */
.bg .textsampai {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(163, 163, 163);
}
.bg .textsampai .tgl .form-control {
    width: 100% !important;
    height: 40% !important;
    border: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    padding: 0px;
    color: rgb(163, 163, 163);
    font-weight: 450;
    font-size: 15px;
}

/* januari 2019 */
.bg .marginleft .bulan {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(114, 114, 114);
}

/* untuk logo image ceklist */
.bg .list-group-item .groupstatus {
    display: flex;
}
.bg .list-group-item .groupstatus .kotak {
    width: 20px;
    height: 20px;
    background-image: url("../../asset/check-icon.png");
    background-size: cover;
}
.bg .list-group-item .groupstatus .berhasil {
    margin-left: 10px;
    display: flex;
}

/* group list-item*/
.bg .list-group-item {
    display: flex;
    padding-right: 0px;
}
.bg .list-group-item-light {
    background-color: #ffffff;
    color: #969696;
    font-size: 14px;
}
.bg .list-group-item-dark {
    background-color: rgb(247, 247, 247);
    color: #969696;
    font-size: 14px;
    font-weight: bold;
}
.bg .list-group-item .groupstatus .berhasil {
    font-weight: bold;
}


/* listgroup 1 */
.bg .list-group-item .jarak {
    margin-left: 10px;
}
.bg .list-group-item .pesanan1 {
    margin-left: 4px;
    font-weight: bold;
}
.bg .list-group-item .harga1 {
    margin-left: 422px;
    font-weight: bold;
}
.bg .list-group-item .groupstatus .berhasil .detail1 {
    color: rgb(68, 139, 231);
    margin-left: 405px;
    font-weight: bold;
}

/* untuk jarak antar listgroup */
.bg .spasi {
    margin-top: 10px;
}

/* listgroup 2 */
.bg .list-group-item .pesanan2 {
    margin-left: 4px;
    font-weight: bold;
}
.bg .list-group-item .harga2 {
    margin-left: 422px;
    font-weight: bold;
}
.bg .list-group-item .groupstatus .berhasil .detail2 {
    color: rgb(68, 139, 231);
    margin-left: 405px;
    font-weight: bold;
}

/* listgroup 3 */
.bg .list-group-item .pesanan3 {
    margin-left: 4px;
    font-weight: bold;
}
.bg .list-group-item .harga3 {
    margin-left: 422px;
    font-weight: bold;
}
.bg .list-group-item .groupstatus .berhasil .detail3 {
    color: rgb(68, 139, 231);
    margin-left: 405px;
    font-weight: bold;
}




