
.App-header{
    color: black;
    background-color: #e6eaed;
}
.Acc-Container{
    background-color: transparent;
    box-shadow: unset;
}
.list-group-item{
    background-color: transparent;
}
.card.nobackground {
    background-color: transparent;
    border: none;
}

body{
    background-color:#eee !important;
}

.col{
    margin-top: 10px;
}

.form-control{
    /* margin:10px 10px; */
    display: inline-block !important;
    width: 40% !important;
    /* border-radius: 1rem !important; */
}
input#min.form-control.price{
    position: absolute;
    top:158px;
    left:0px;
    height: 30px;
}
input#max.form-control.price{
    position: absolute;
    top:158px;
    left:189px;
    height: 30px;
}
.form-check-label.search{
    width: 50%;
}
.form-check.search{
    margin-bottom: 10px;
}
.card{
    margin: 10px 0 !important;
    padding: 10px;
    border-radius: 5px;
    
}
.search.card-title{
    font-weight: 500 
}
.search.card-title .btn{
    padding-bottom: 4px;
    padding-top: 0;
    width: 167px;

}

button.search.btn{
    width: 200px;
    height: 34px;
    float: right;
}

p.card-text{
    width: 300px
}
input[type=radio].search{
    height: 15px;
    width: 15px;
}

input[type=checkbox].rate{
    height: 23px;
    width: 15px;
}



div#result.card{
    flex-direction: row !important;
    padding: 0px;
    box-shadow: 0 0 0 0!important;
    border-radius: 4px;
    margin-bottom: 10px;
}

img.search.card-img-top{
    margin: 0px;
}

div.col-3{
    padding: 0;
    border-left: 1px solid #ddd;
}

div.col-6{
    padding: 10px
}
div.col-6 button.btn{
    float: left;
    border-radius: 50px;
    width: 85px;
    height: 25px;
    padding: 0rem .75rem;
    font-size: 0.8rem;
}
div.col-6 p.card-text{
    float: left;
    font-size: 1rem;
    margin-top:5px;
    color: gray
}

div.col-3 h4{
    color: #f96d01;
    padding-top:50%;
    margin-left: 15px
}
