.tagline-1{
    font-size: 14px;
    color: rgb(67, 67, 255);
    font-weight: 600;
}

a.list-group-item {
    border: none !important;
}

.btn-warning {
    background-color: orange !important;
    color: white !important;
    width: 250px;
}

.form-check {
    margin: 0 !important;
}

.tagline-2 {
    color: blue;
}

